<section class="todoapp">
  <header class="header">
    <input class="new-todo" type="text" placeholder="输入内容，回车添加" autofocus="" [([(ngModel)]="newTodo.title" (keyup.enter)="addTodo()"> <!-- 输入框 -->
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <todo-view *ngFor="let todo of todos" [todo]="todo"></todo-view>  <!-- li即view组件,[todo]="todo"把当前实例变量绑到item组件的todo变量 -->
    </ul>
  </section>
  <footer class="footer" ngIf="todos.length > 0">
    <span class="todo-count">{{ todos.length }}<strong>{{ todos.length >1 ? 'items' : 'item' }}</strong> left</span>
  </footer>
</section>
